<nb-card>
    <nb-card-body>
        <h5>QUEM SOMOS</h5>
        <p>
            Super Box é uma experiência de consumo <strong>singular de autoatendimento 24 horas</strong>, integralmente conectado ao conceito 
            honest market, onde <strong>o cliente escolhe o produto e paga por meio de um sistema inteligente</strong>. O Super Box é uma 
            tecnologia ousada, pensada com atenção por e para gente, que quer viver a vida de uma forma descomplicada e plena.
        </p>

        <h5>NOSSA HISTÓRIA</h5>
        <br>
        <p>
            O Super Box nasceu em 2020 em meio a pandemia, que fez com as pessoas ficassem mais tempo em casa, e o objetivo era levar comodidade, 
            conveniência e tecnologia para os moradores de condomínios ao oferecer um minimercado autônomo com mix diversificado e com funcionamento 
            24 horas por dia.
        </p>
        <br>
        <p>
            O conceito do negócio é gerar facilidade para as pessoas através da compra autônoma, dentro do conceito Honest Market.
        </p>
        <br>
        <p>
            Sua fundadora Cristiane Nogueira <strong>acredita que com profissionalismo, criatividade e tecnologia, é possível facilitar a vida das pessoas</strong>, 
            tornar o processo de compra de itens de mercado algo prático e rápido e a qualquer hora do dia, fazendo com que o Super Box seja o seu vizinho “preferido”.
        </p>
        <br>
        <p>A lista de produtos a serem associados</p>

        <div style="text-align: right;">
            <button style="text-align: right;" nbButton status="primary" (click) = "navigateToList()" ng> Ver Lista de Associação </button>
        </div>
    </nb-card-body>
</nb-card>

