<nb-layout>

  <nb-layout-header fixed="fixed">
    <a href="#" (click)="toggle()">
      <nb-icon icon="menu"></nb-icon>
    </a>

    <img src="../assets/superBox_24h.png" alt="Image" height="90" width="90">
    <style>
      .img-container {
        text-align: center;
      }
    </style>
  
  </nb-layout-header>

  <nb-sidebar>
    <nb-menu tag="menu" [items]="items" autoCollapse="true"></nb-menu>
  </nb-sidebar>
  
  <nb-layout-column class="colored-column-basic">
    <router-outlet></router-outlet>
  </nb-layout-column>

</nb-layout>


